<div class="search-container">
  <div class="search-input-wrapper">
    <button
      class="search-button"
      type="button"
      aria-lable="Serach"
      (click)="triggerSearch()"
    >
      🔍
    </button>

    <input
      class="search-input"
      type="text"
      [value]="searchTerm"
      (input)="onInputChange($event)"
      (keyup.enter)="triggerSearch()"
      placeholder="Search by title....."
    />
    <button
      *ngIf="searchTerm"
      (click)="clearSearch()"
      class="clear-button"
      type="button"
      aria-label="Clear Search"
    >
      ✕
    </button>
  </div>
</div>
