<div class="app-container">
  <header class="app-header app-header-flex">
    <h1 class="app-title">🎬 Movie Collection Manager</h1>
    <div class="theme-toggle-fixed">
      <button class="theme-toggle" (click)="toggleTheme()">
        <span class="theme-icon">{{ isDarkTheme ? "☽" : "☀" }}</span>
        <!-- {{ isDarkTheme ? "Dark" : "Light" }} -->
      </button>
    </div>
  </header>
  <main class="app-main" *ngIf="isMainPage">
    <!-- Search -->
    <div class="filter-section">
      <app-search-bar
        [searchTerm]="searchTerm"
        (searchTermChange)="onSearchChange($event)"
      ></app-search-bar>
    </div>
    <div class="main-content">
      <div class="filters-sidebar">
        <!-- <div class="sidebar-header">
          <h3>Filters</h3>
        </div> -->

        <!-- Sort Dropdown -->
        <div class="filter-section">
          <label for="sort-select">Sort by</label>
          <select
            name=""
            id="sort-select"
            [(ngModel)]="selectedSort"
            (change)="onSortChange()"
          >
            <option value="title">Title</option>
            <option value="year">Year</option>
            <option value="rating">Rating</option>
          </select>
        </div>

        <!-- Genre filter -->
        <div class="filter-section">
          <div class="genre-filter" *ngIf="!genresLoading && genres.length">
            <label for="genre-select">Genre</label>
            <select
              id="genre-select"
              [(ngModel)]="selectedGenre"
              (change)="onGenreChange(selectedGenre)"
            >
              <option value="">All Genres</option>
              <option *ngFor="let genre of genres" [value]="genre">
                {{ genre }}
              </option>
            </select>
          </div>

          <div *ngIf="genresLoading" class="genre-loading">
            Loading Genres...
          </div>
          <div *ngIf="genresError" class="genre-error">
            {{ genresError }}
          </div>
        </div>

        <!-- Favorite Toggle -->
        <div class="filter-section">
          <div class="favorites-toggle">
            <input
              type="checkbox"
              id="show-favorites"
              [(ngModel)]="showFavoritesOnly"
              (change)="onShowFavoritesToggle()"
              class="custom-checkbox"
            />
            <label for="show-favorites">
              <span class="custom-checkbox-box"></span> Favorits Only</label
            >
          </div>
        </div>
      </div>
      <!-- Movie list -->
      <div class="content-area">
        <app-movie-list
          [movies]="filteredMovies"
          [loading]="loading"
          [favorites]="favorites"
          (movieSelected)="onMovieSelect($event)"
          (favoriteToggled)="onFavoriteToggle($event)"
        >
        </app-movie-list>
      </div>
    </div>
  </main>
  <router-outlet *ngIf="!isMainPage"></router-outlet>
</div>
